{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load timetags %}
{% load staticfiles %}

{% block content %}
<p><br/></p>
<div class="container">
    <h1>SEARCH BY FILE</h1>
    <p><a href="/">search by user </a> | search by file</p><br>
    <div class="row">
        <div class="col-sm-4">
            <form action="/page_2" method="post" id="form_id">{% csrf_token %}
                <div class="input-group">
                    <span class="input-group-addon">File directory:</span>
                    {% render_field form.file placeholder=form.file.label %}
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Date from:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    {% render_field form.time_1 placeholder="Format: YYYY-M-D HH-MM-SS" %}
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Date from:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    {% render_field form.time_2 placeholder="Format: YYYY-M-D HH-MM-SS" %}
                </div>
                <br>
                <input type="submit" value="Submit" class="btn center-block"/>
            </form>
        </div>
    </div>
    <!--{% render_field form.users placeholder="User" %}-->
    <table id="table_id" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>File</th>
            <th>User</th>
            <th>Action</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        {% for act in table %}
        <tr>
            <td>{{ act.file }}</td>
            <td>{{ act.user }}</td>
            <td>{{ act.type }}</td>
            <td>{{ act.timestamp|print_timestamp }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}