{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load timetags %}
{% load staticfiles %}

{% block content %}
<p><br/></p>
<div class="container">
    <h1>SEARCH BY FILE</h1>
    <p><a href="/">search by user </a> | search by file</p><br>
    <form action="/page_2" method="post" id="form_id">{% csrf_token %}
        <div class="row">
            <div class="col-sm-5">
                <div class="input-group">
                    <span class="input-group-addon">File:</span>
                    {% render_field form.file placeholder="File directory" %}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon">Date from:</span>
                    {% render_field form.time_1 id="datepicker" placeholder="Format: YYYY-M-D" %}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon">Date to:</span>
                    {% render_field form.time_2 id="datepicker-2" placeholder="Format: YYYY-M-D" %}
                </div>
            </div>
            <div class="col-sm-1">
                <input type="submit" value="Submit" class="btn center-block"/>
            </div>
        </div>
        <br>
    </form>
    <!--{% render_field form.users placeholder="User" %}-->
    <table id="table_id" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>File</th>
            <th>User</th>
            <th>Action</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        {% for act in table %}
        <tr>
            <td>{{ act.file }}</td>
            <td>{{ act.user }}</td>
            <td>{{ act.type }}</td>
            <td>{{ act.timestamp|print_timestamp }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}