<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.min.js"></script>
<!-- Datapicker -->
<script src="/static/js/jquery-ui.js"></script>
<!-- Scripts -->
<script>
$('#table_id').dataTable();
</script>
<script>
  $( function() {
    $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' }).val();
  } );
  $( function() {
    $( "#datepicker-2" ).datepicker({ dateFormat: 'yy-mm-dd' }).val();
  } );
</script>